<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="ru">
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
    <title>
        Таск-трекер
    </title>
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <link href="~/Content/style.css" rel="stylesheet">
</head>
<body class="account">
    <div class="tracker_account">
        <div class="upper">
            <div class="upper_image">
                <a href="~/Task/Tasks/" title="Таск-трекер">
                    <img src="~/Content/Image/logo.png" style="width: 200px; height: 45px;">
                </a>
            </div>
        </div>
        @RenderBody()
        <div class="bottom">
            Автор: Чубыкин А.
        </div>
    </div>
</body>
</html>