<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="ru">
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
    <title>
        Таск-трекер
    </title>
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <link rel="stylesheet" media="screen" href="~/Content/styleMobile.css" />
</head>
<body>
    <div class="tracker">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <script type="text/javascript">
            function myFunction() {
                var x = document.getElementById("myLinks");
                if (x.style.display === "block") {
                    x.style.display = "none";
                } else {
                    x.style.display = "block";
                }
            }
        </script>

        <div class="topnav">
            <a href="/Task/Tasks" title="Таск-трекер">
                <img src="~/Content/Image/logo.png" style="width: 140px; height: 20px; ">
            </a>

            <div id="myLinks">
                <a href="/Home/Account"><b>Аккаунт</b></a>
                <a href="/Project/Projects"><b>Проекты</b></a>
            </div>

            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        @RenderBody()
        <ul class="bottom" style="position:fixed;bottom:0;left:0;width:100%;">
            <li type="none" style="float:right; margin-right:25px;">Чубыкин А.П.</li>
        </ul>
    </div>
</body>
</html>